@use "../../../styles/colors.module.scss" as c;


.imgLogoNav {
    width: 160px;
    cursor: pointer;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 24px 14px;
}

@media (max-width: 767px) {
    .nav {
        justify-content: center;
        gap: 20px;
    }
}