@use "../styles/colors.module.scss" as c;

.sectionBackground {
  background-image: linear-gradient(to bottom, #8b8b8b1a, #151515),
    url("../../public/homeNoAuth/backgroundPresentationSection.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.links {
  text-decoration: none;
}

.ctaSection {
  background-color: c.$lightRed;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 0px;
  gap: 30px;
}

.imgCta {
  width: 20px;
}

.nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 20px;

  .imgLogoNav {
    width: 180px;
  }
  .navBtn {
    margin: 0px 5px;
    border-color: transparent;
    color: c.$lightGray;
    transition: 0.6s;
    &:hover {
      border-color: c.$lightRed;
      color: white;
      background-color: transparent;
    }
  }
}

.imgPresentation {
  width: 550px;
}

.subtitle {
  font-size: 18px;
  font-weight: bold;
  color: c.$lightRed;
}

.title {
  font-size: 40px;
  font-weight: bold;
  line-height: 50px;
}

.description {
  font-size: 20px;
  color: c.$lightGray;
  margin: 20px 0px 40px 0px;
}
.btnCta {
  font-weight: bold;
  color: white;
  display: flex;
  align-items: center;
  gap: 25px;
  padding: 14px 30px;
  border: 2px solid c.$lightRed;

  .btnImg {
    width: 11px;
  }
  &:hover {
    border-color: c.$darkRed;
    color: c.$lightGray;
    background-color: transparent;
  }
}
.arrowDown {
  width: 30px;
}

.sectionTitle {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin: 50px 0px 30px 0px;
}

.slideSectionBtn {
  &:hover {
    border-color: c.$lightRed;
    background-color: transparent;
    color: c.$lightGray;
  }
}

.card {
  width: 340px;
  height: 280px;
  border-radius: 8px;
  padding: 14px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  transition: 0.3s;
  .cardTitle {
    transition: 0.3s;
    font-weight: bold;
    margin-bottom: 8px;
  }
  .cardDescription {
    font-size: 15px;
    color: c.$lightGray;
  }
  &:hover {
    transform: scale(1.03);
    .cardTitle {
      font-size: 18px;
      margin-left: 8px;
    }
  }
}
.card1 {
  @extend .card;
  background-image: url("../../public/homeNoAuth/imgFrontend.png");
}
.card2 {
  @extend .card;
  background-image: url("../../public/homeNoAuth/imgBackend.png");
}
.card3 {
  @extend .card;
  background-image: url("../../public/homeNoAuth/imgMobile.png");
}
.card4 {
  @extend .card;
  background-image: url("../../public/homeNoAuth/imgGit.jpg");
}
.card5 {
  @extend .card;
  background-image: url("../../public/homeNoAuth/imgProjects.png");
}
.card6 {
  @extend .card;
  background-image: url("../../public/homeNoAuth/imgCareer.png");
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 26px 0px;
  gap: 16px;
}

.footerLogo {
  width: 220px;
}

.footerLink {
  text-decoration: none;
  color: c.$mediumGray;
  transition: 0.3s;

  &:hover {
    color: c.$lightGray;
  }
}

@media (max-width: 1119px) and (min-width: 990px) {
  .title {
    font-size: 20px;
    line-height: 30px;
  }
  .description {
    font-size: 14px;
  }
}

@media (max-width: 990px) {
  .imgPresentation {
    display: flex;
    margin: 50px auto;
  }
}

@media (max-width: 590px) {
  .imgPresentation {
    width: 95%;
  }
  .title {
    font-size: 26px;
    line-height: 34px;
  }
  .description {
    font-size: 14px;
  }
  .btnCta {
    padding: 10px 24px;
  }

  .footer {
    padding: 26px 16px;
  }
}

@media (max-width: 451px) {
  .nav {
    justify-content: center;
  }
  .navBtn {
    margin: 16px 10px;
    border-color: white;
    font-size: 14px;
  }
  .ctaSection {
    gap: 10px;
  }
  .footer {
    justify-content: center;
  }
}
@media (max-width: 360px) {
  .subtitle {
    font-size: 14px;
  }
  .title {
    font-size: 20px;
  }
  .description {
    font-size: 12px;
  }
}
@media (max-width: 335px) {
  .ctaSection {
    text-align: center;
  }
  .imgCta {
    margin: 0px 8px;
  }
}
